<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pacientes</title>
</head>
<body>
    <center><h1>Se ve Esta tabla?</h1></center>
    <br>
    <table>
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Apellido</th>
                <th>Documento</th>
                <th>Teléfono</th>
                <th>Fecha de nacimiento</th>
                <th>Sexo</th>
                <th>País</th>
            </tr>
        </thead>
        <tbody>
            {% for paciente in ver_Pacientes %}
            <tr>
                <td>{{ paciente.nombre }}</td>
                <td>{{ paciente.apellido }}</td>
                <td>{{ paciente.documento }}</td>
                <td>{{ paciente.telefono }}</td>
                <td>{{ paciente.fecha_nacimiento }}</td>
                <td>{{ paciente.sexo }}</td>
                <td>{{ paciente.pais }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    
</body>
</html>