<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <center>Y aca aparece?</center>
    <br>
    <p>Nombre: {{ cliente.nombre }}</p>
<p>Apellido: {{ cliente.apellido }}</p>
<p>Documento: {{ cliente.documento }}</p>
<p>Teléfono: {{ cliente.telefono }}</p>
<p>Fecha de nacimiento: {{ cliente.fecha_nacimiento }}</p>
<p>Sexo: {{ cliente.sexo }}</p>
<p>País: {{ cliente.pais }}</p>

</body>
</html>